<h1>Todo</h1>
<div [ngSwitch]="tasks.length">
  <div *ngSwitchCase="0">No tasks</div>
  <div *ngSwitchCase="1">One task</div>
  <div *ngSwitchDefault>{{ tasks.length }} tarefas</div>
</div>
<div>
  <input type="text" placeholder="Task description" [(ngModel)]="newTask" />
  <button (click)="addTask()">Add</button>
</div>
<ul *ngFor="let task of tasks; let i = index">
  <li>
    <input type="checkbox" ([ngModel])="(task.done)" /> {{ task.description }}
    <button (click)="deleteTask(i)">X</button>
  </li>
</ul>
